{% extends "layout.html" %}
{% block title %}Home{% endblock %} 
{% block head %}
{{ super() }}
{% endblock %} 
{% block content %} 
<h1 class="text">Home</h1>
<form class= "text" action="/calculate">
        <label for="number">Number:</label>
        <br>
        <input type="text" id="number" name="number">
        <br> 
        <br>
        <input type="submit" value="Submit"> 
</form>
        <style>
        .text{
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: x-large;
            color: red;
            
        }
        </style>
{% endblock %}